<ion-header>
  <ion-toolbar>
    <ion-title>navegacao</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="goToNavegacao(2)" expand="block" fill="clear" shape="round">
    Navegação 2
  </ion-button>
</ion-content>
