<ion-header>
  <ion-toolbar>
    <ion-title>alerts</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="block" shape="round" (click)="confirm()">Alerta</ion-button>
  <ion-button expand="block" shape="round" (click)="presentAlertPrompt()">prompt</ion-button>
</ion-content>
